<style>
    #baner{
        height: 25%;
        width: 99%;   
        object-fit: cover;
    }
    .titletxt{
        font-family: Neutron;
    }
</style>
<body>
    
    <div class="container">
        <h1 class="text-center mt-2 mb-4 titletxt" >{{company_name}}'s Career</h1>

        <div id="about">

            <p class="text-center lead mt-2 mb-4">As a computer science student at Tecnologico de Monterrey, I find joy in a variety of activities. Aside from coding and learning new programming languages, I also enjoy staying active through exercise. Whether it's going for a run or hitting the gym, I find that physical activity helps me stay focused and energized throughout the day.</p>
            <p class="text-center lead mt-2 mb-4">In addition to staying active, I also enjoy solving problems on platforms like LeetCode. I find these challenges to be both fun and rewarding, as they allow me to apply my coding skills in a practical way. I believe that problem-solving is an essential skill for any computer science student, and I enjoy taking on new challenges whenever I can.</p>
            <p class="text-center lead mt-2 mb-4">Finally, I believe that being a good teammate is crucial for success in any field. That's why I always strive to add value to any team that I'm a part of. Whether it's through my technical skills, my ability to communicate effectively, or my willingness to help others, I believe that being a good teammate is essential for achieving our collective goals.</p>
            <p class="text-center lead mt-2 mb-4">Overall, I'm excited to continue my journey as a computer science student, and I look forward to exploring new opportunities for growth and learning in the years ahead.</p>

        </div>

        <h1 class="text-center mt-2 mb-4 titletxt" >Projects by my own</h1>
        <p class="text-center mt-2 mb-4">
            {% for project in projects %}
                {% include 'porjectItem.html' %}
            {% endfor %}
        </p>   
        <div class="text-center">
            <a href="mailto:a.barrera9233@gmail.com"
            type="button" class="btn btn-dark">Contact Me
            </a> 
        </div>

    </div>
    {% include 'footer.html' %}
</body>
