<div class="border-bottom row justify-content-between" style="margin-bottom: 16px; padding-bottom: 8px;">
    <div class="col-9">
        <h4>{{project['name']}}</h4>
        <div class="mb-1">
            <b>Date: </b>{{project['date']}}
        </div>
    </div>
    <div class="col-3 d-flex justify-content-end">
        <a href="https://codepen.io/Alejandro9233-the-selector/pen/PoxpRXj" target="_blank"
        type="button" class="btn btn-outline-secondary col align-self-center">Explore</a>
    </div>
</div>
